<section class="results">
  <div id="results" class="results__grid grid">
    <!-- DemoEntry -->
    <div class="grid__panel">
      <div class="grid__panel-content">
        <img
          class="grid__panel-image"
          src="https://giphy.com/static/img/labs.gif"
        >
      </div>
      <!-- Actions -->
      <div class="grid__panel-action">
        <button class="grid__panel-action-btn icon-btn icon-btn__favorite icon-btn__favorite--active">&nbsp;</button>
        <button class="grid__panel-action-btn icon-btn icon-btn__copy">&nbsp;</button>
      </div>
      <!-- #End Action -->
    </div>
    <!-- #End DemoEntry -->
  </div>
  <div class="results__empty results__empty--hidden">
    No results... try again!
  </div>
  <div class="results__loading results__loading--hidden">
    <p>Please wait while loading</p>
    <div class="results__loader"></div>
  </div>
</section>
