<header class="header">
  <h1 class="header__title">
    Seek my Gif
  </h1>
  <img
    class="header__logo"
    alt="Powered by Giphy"
    src="./../assets/img/giphy.gif"
  />
  <nav class="header__nav">
    <a
      class="header__nav-item"
      href="#favorites"
    >
        Favorites
    </a>
  </nav>
  <form class="header__form">
    <input
      class="header__form-input input"
      type="text"
      value=""
      placeholder="Type something here"
    />
    <button
      type="submit"
      class="header__form-submit header__form-button header__form-button--disabled"
    >
      &nbsp;
    </button>
    <button
      class="header__form-clear header__form-clear--hidden header__form-button"
    >
      &nbsp;
    </button>
  </form>
</header>
