.icon-btn {
  background-color: #d1d1d1; /*lightGrey*/
  border: none;
}

.icon-btn__favorite {
  mask: url('./../assets/img/heart.svg') no-repeat 50% 50%;
}

.icon-btn__copy {
  mask: url('./../assets/img/copy.svg') no-repeat 50% 50%;
}

.icon-btn__favorite--active {
  background-color: #FEC12E; /* Yellow */
}

.icon-btn__copy--active {
  background-color: #06f60c; /* Green */
}

