.search-result-text {
  padding: 1rem 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: #fd583d; /* Orange */
}

.search-result-text--affix {
  background-color: #ffffff;
  z-index: 10;
  width: 100%;
  left: 0;
  right: 0;
  margin-bottom: 2rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.search-result-text--accent {
  color: #571845; /* Purple */
}
