.results {
  padding: 1rem;
}

.results__more--hidden,
.results__loading--hidden,
.results__empty--hidden,
.results__grid--hidden {
  display: none;
}

.results__grid {
  margin-bottom: 2rem;
}

.results__loading,
.results__empty {
  color: #C50A3D; /* Red */
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.results__loader {
  margin:  1rem auto;
  height: 100px;
  width: 100px;
  background: url('./assets/img/loader.svg') no-repeat 50% 50%;
  background-size: contain;
}

.results__more {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #C50A3D; /* Red */
  border: none;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
}
